<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>arms_name</key>
		<string>铁剑</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>30</string>
		<key>arms_price</key>
		<string>0</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>钢剑</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>45</string>
		<key>arms_price</key>
		<string>80</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>青钢剑</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>55</string>
		<key>arms_price</key>
		<string>160</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>钢斧</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>65</string>
		<key>arms_price</key>
		<string>340</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>钉头剑</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>75</string>
		<key>arms_price</key>
		<string>500</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>铁戟</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>85</string>
		<key>arms_price</key>
		<string>820</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>矮人长剑</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>95</string>
		<key>arms_price</key>
		<string>1450</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>矮人手斧</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>120</string>
		<key>arms_price</key>
		<string>2300</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>地精战刃</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>150</string>
		<key>arms_price</key>
		<string>3600</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>兽人重剑</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>170</string>
		<key>arms_price</key>
		<string>5150</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>精灵战戟</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>190</string>
		<key>arms_price</key>
		<string>6400</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>玻璃长剑</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>225</string>
		<key>arms_price</key>
		<string>7300</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>琉璃长剑</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>260</string>
		<key>arms_price</key>
		<string>8180</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>龙鳞战刀</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>300</string>
		<key>arms_price</key>
		<string>9200</string>
	</dict>
	<dict>
		<key>arms_name</key>
		<string>魔神大剑</string>
		<key>arms_img</key>
		<string></string>
		<key>arms_attack</key>
		<string>365</string>
		<key>arms_price</key>
		<string>11110</string>
	</dict>
</array>
</plist>
