<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>helmet_name</key>
		<string>革制盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>150</string>
		<key>helmet_price</key>
		<string>50</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>铁制盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>200</string>
		<key>helmet_price</key>
		<string>160</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>镶钉盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>300</string>
		<key>helmet_price</key>
		<string>340</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>钢制盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>450</string>
		<key>helmet_price</key>
		<string>500</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>骑士盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>650</string>
		<key>helmet_price</key>
		<string>820</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>刀锋盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>900</string>
		<key>helmet_price</key>
		<string>1450</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>矮人盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>1200</string>
		<key>helmet_price</key>
		<string>2300</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>夜莺盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>1550</string>
		<key>helmet_price</key>
		<string>3900</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>地精盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>1950</string>
		<key>helmet_price</key>
		<string>5150</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>兽人盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>2400</string>
		<key>helmet_price</key>
		<string>6400</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>精灵盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>2900</string>
		<key>helmet_price</key>
		<string>7300</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>玻璃盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>3200</string>
		<key>helmet_price</key>
		<string>8180</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>乌木盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>3450</string>
		<key>helmet_price</key>
		<string>9300</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>龙骨盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>3600</string>
		<key>helmet_price</key>
		<string>11110</string>
		<key>isBuy</key>
		<string>0</string>
	</dict>
	<dict>
		<key>helmet_name</key>
		<string>魔神盔</string>
		<key>helmet_img</key>
		<string></string>
		<key>helmet_hp</key>
		<string>5000</string>
		<key>helmet_price</key>
		<string>15000</string>
	</dict>
</array>
</plist>
